<div class="gallery">
  <h4>Gallery Name</h4>
  <p><%= @gallery["name"] %></p>
  <h4>Description</h4>
  <p><%= @gallery["description"] %><p/>
  <h4>Address</h4>
  <p><%= @gallery["address"] %><p/>
  <h4>Opening Hour</h4>
  <p><%= @gallery["opening_hour"] %></p>
  <h4>Closing Hour</h4>
  <p><%= @gallery["closing_hour"] %></p>
</div>
